{% extends "master.html" %}

{% block head %}
<title>BlackHatMagic</title>
<script src="static/js/jquery-3.6.0.min.js"></script>
<script src="static/js/home/main.js"></script>
{% endblock %}

{% block body %}
<!--navbar soon (TM)-->
<nav></nav>

<div class="flex-container">
	<div class="flex-container" style="background-color: var(--nord-canvas); justify-content: flex-start; align-items: center; flex-flow: column nowrap; border-radius: 50px; margin: 100px;">
		<img src="https://cdn.discordapp.com/avatars/272197511769227264/66da13e8dfc5477899498a14c3c56dcc.png?size=1024" style="max-width: 512px; width: 100%; border-radius: 50%; margin: 50px 150px 50px 150px;">

		<h1>BlackHatMagic</h1>

		<div id="splash" class="flex-container" style="background-color: var(--nord-canvas); width: 100%"></div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%;">
			<button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/ttv'">Twitch</button>
			<button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/yt'">YouTube</button>
		</div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%;">
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/t'">Twitter</button>
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/git'">Github</button>
                </div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%;">
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/reddit'">Please Don't</button>
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/mail'">Email</button>
                </div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%; margin-bottom: 100px;">
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/discord'">Discord</button>
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='/steam'">Steam</button>
                </div>
	</div>
</div>


{% endblock %}
