{% extends "master.html" %}

{% block head %}
<title>BlackHatMagic</title>
<script src="static/js/jquery-3.6.0.min.js"></script>
<script src="static/js/home/main.js"></script>
{% endblock %}

{% block body %}
<!--navbar soon (TM)-->
<nav></nav>

<div class="flex">
	<div class="flex vertical start">
		<img src="https://cdn.discordapp.com/avatars/272197511769227264/5a2ba4f610b649c0c148eec08ef20c0e.png?size=1024" style="max-width: 512px; width: 100%; border-radius: 50%; margin: 50px 150px 50px 150px;">

		<h1>BlackHatMagic</h1>

		<div id="splash" class="flex vertical center"></div>

		<div class="flex horizontal center">
			<div class="flex vertical start" style="width: calc(50% - 50px)">
				<button onclick="window.location.href='/ttv'">Twitch</button>
				<button onclick="window.location.href='/t'">Twitter</button>
				<button onclick="window.location.href='/reddit'">Please Don't</button>
				<button onclick="window.location.href='/discord'">Discord</button>
			</div>
			<div class="flex vertical start" style="width: calc(50% - 50px)">
				<button onclick="window.location.href='/yt'">YouTube</button>
				<button onclick="window.location.href='/git'">Github</button>
				<button onclick="window.location.href='/mail'">Email</button>
				<button onclick="window.location.href='/steam'">Steam</button>
			</div>
		</div>

	</div>
</div>


{% endblock %}
