{% extends "master.html" %}

{% block head %}
<title>BlackHatMagic</title>
{% endblock %}

{% block body %}
<!--navbar soon (TM)-->
<nav></nav>

<!--
<div style="background-image: url('https://cdn.discordapp.com/banners/272197511769227264/369309b33a2c733a69b87baa73efaaed.png?size=1024');">
	<img src="https://cdn.discordapp.com/avatars/272197511769227264/560bf8b86ec9e5cb3ee57eccf49d03b1.png?size=1024" style="width:100%">
	<h1>BlackHatMagic</h1>
	<p>idk what to put here.</h1>
</div>
-->

<div class="flex-container">
	<div class="flex-container" style="background-color: var(--nord-canvas); justify-content: flex-start; align-items: center; flex-flow: column nowrap; border-radius: 50px; margin: 100px;">
		<img src="https://cdn.discordapp.com/avatars/272197511769227264/560bf8b86ec9e5cb3ee57eccf49d03b1.png?size=1024" style="max-width: 512px; width: 100%; border-radius: 50%; margin: 50px 150px 50px 150px;">

		<h1>BlackHatMagic</h1>

		<p>Help idk how to use javascript.</p>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%;">
			<button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='https://www.twitch.tv/BlackHat_Magic'">Twitch</button>
			<button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='https://www.youtube.com/c/BlackHatMagic'">YouTube</button>
		</div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%;">
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='https://www.twitter.com/Black_HatMagic'">Twitter</button>
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='https://www.github.com/BlackHat-Magic'">Github</button>
                </div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%;">
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='https://www.reddit.com/u/BlackHatMagic1545'">Please Don't</button>
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="window.location.href='mailto:BlackHatMagic@gmail.com'">Email</button>
                </div>

		<div class="flex-container" style="background-color: var(--nord-canvas); width: 100%; margin-bottom: 100px;">
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)" onclick="https://discord.gg/dqSusZqenq">Discord</button>
                        <button style="width: calc(50% - 100px); border-color: var(--nord-primary1)">Steam</button>
                </div>
	</div>
</div>


{% endblock %}
